<div class="flex-container global">
  <!--------------------------- HEADER ----------------------------->
<h1 class="flex-container header">Hello the title is {{title}}</h1>
<!---------------------------------------------------------------->
  
<!--------------------------- CENTER ----------------------------->
<div class="flex-container center">
  <div class="flex-item w-50 mr-8">CAMERA</div>
  <div class="flex-item w-50">CHAT</div>
</div>
<!---------------------------------------------------------------->

<!--------------------------- FOOTER ----------------------------->
<div class="flex-container footer">Copyright</div>
<!---------------------------------------------------------------->
</div>
<router-outlet></router-outlet>
