// width
.w-100 { width: 100% !important; }
.w-75 { width: 75% !important; }
.w-50 { width: 50% !important; }
.w-33 { width: 33% !important; }
.w-25 { width: 25% !important; }
.w12 { width: 12% !important; }

// margin
.mr-8 { margin-right: 8px !important; }
.ml-8 { margin-left: 8px !important; }
.mt-8 { margin-top: 8px !important; }
.mb-8 { margin-bottom: 8px !important; }
.mlr-8 { margin: 0 8px 0 8px !important; }
.mtb-8 { margin: 8px 0 8px 0 !important; }

// padding
.pr-8 { padding-right: 8px !important; }
.pl-8 { padding-left: 8px !important; }
.pt-8 { padding-top: 8px !important; }
.pb-8 { padding-bottom: 8px !important; }
.plr-8 { padding: 0 8px 0 8px !important; }
.ptb-8 { padding: 8px 0 8px 0 !important; }

.justify-center { justify-self: center; }

.flex-container { 
  display: flex; 
  width: 100%;
  height: 100%;
}

// remove if not used
.flex-container.global { 
  border: 2px solid green;
  flex-direction: column;
  height: 100vh;
}
.flex-container.header,
.flex-container.footer {
  background-color: black;
  color: white;
  justify-content: center; 
  align-items: center;
}
.flex-container.header { 
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.flex-container.center { 
  background-color: yellow;
  position: relative;
  flex: 1;
}
.flex-container.footer { 
  height: 120px;
}

.flex-item { 
  border: 1px solid red;
  justify-content: center; 
  align-items: center;
  text-align: center;
  display: block;
}

.message-input-form {
  position: relative;
  top: 400px;
  // border: 1px solid;
  display: inline-block;

  .message-input {
    // display: inline-block;
  }

  .submit-button {
    display: block;
    margin: auto;
  }
}


